<h1>List of products</h1>

<ul>
<% @products.each do |p| %>

  <div class="name">
    <li> <%=link_to p.name, product_path(p.id) %></li>
  </div>


  <div class="name">
    <li> <%= p.description %></li>
  </div>


  <div class="name">
    <li> <%= p.price_in_dollars %></li>
  </div>


<%end%>
</ul>

<%= link_to 'Create Product', new_product_path %>
